@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');
@import './variables.scss'; 
@import './mixins.scss';

* {
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: $text-col;
    background: $primary-col;
    font-family: 'Inter', sans-serif;
}

#root {
    color: $text-col;
    min-height: 100vh;
    height: 100%; 
    width: 80%; 
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

header, footer {
    min-height: 10vh;
    background-color: $primary-col;
    display: grid; 
    gap: 25px; 
    align-items: center;
    justify-content: center;
    padding: 10px 25px; 

    @include resize('tablet') {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    .searchContainer, .linkContainer {
        display: flex; 
        gap: 10px; 
        align-items: center;
        justify-content: center;

        i {
            cursor: pointer;
        }

        i:hover {
            color: $card-bg; 
        }
    }

    a:hover {
        color: $card-bg; 
    }
}


a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
}

h1 {
    text-align: center;
}

form {
    #search-icon {
        background: none;
        border: none;
        outline: none;
        color: $card-bg; 
        cursor: pointer;

        &:hover {
            color:$text-col;
        }
    }
}


.main-container {
    display: grid;
    gap: 20px;

}


#main-weather, #future-weather, #error-card {
    padding: 25px; 
    display: grid; 
    align-items: center;
    background-color: $card-bg; 
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    border-radius: 50px;
    gap: 5px;
}

#main-weather {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: "temp"
        "temp"
        "loc"
        "img"
        "dateTime"
        "weather"
        "wind"
        "pressure"
    ;

    #temp {
        grid-area: temp; 
        font-size: 4em;
        font-weight: bold; 
        text-align: center;
    }
    #location {
        grid-area: loc; 
        font-size: 3em;
        text-align: center;
    }
    #date-time {
        grid-area: dateTime; 
        font-weight: bold; 

    }
    img {
        grid-area: img; 
    }
    #weather {
        grid-area: weather;
    }
    #wind {
        grid-area: wind;
    }
    #pressure {
        grid-area: pressure;
    }
}

// future weather


#future-weather {
    grid-template-columns: repeat(1, 1fr);

    .future-card {
        position: relative;
        display: grid; 
        align-items: center;
        justify-content: center;

        .temp {
            font-size: 1.2em; 
            font-weight: bold;
        }

        p {
            text-align: center;
        }

        &::after {
            height: 3px; 
            width: 100%; 
            bottom: -5px; 
            content: ''; 
            position: absolute; 
            background: $primary-col;
        }
    }

    :last-child {
        &::after {
            height: 0; 
        }
    }
}

// 404 box
#error-card {
    align-items: center;
    justify-items: center;

    #error-title {
        text-align: center;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $text-col;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "C";
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $secondary-col;
        -webkit-transition: .4s;
        transition: .4s;
      }
  }
  
  
  input:checked + .slider {
    background-color: $text-col;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $text-col;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: "F";
    background-color: $toggle-secondary;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media screen and (min-width: 48em ){

    #main-weather, #future-weather {
        border-radius: 100px;
    }
    
    #main-weather {
        grid-template-columns: 0.6fr .2fr 0.2fr;
        grid-template-areas: "temp  dateTime ."
        "temp  weather img"
        "loc  wind img"
        "loc  pressure ."
    ;

        #temp {
            font-size: 4em;
        }

        #location {
            font-size: 3em;
        }
    }

    #future-weather {
        grid-template-columns: repeat(6, 1fr); 

        .future-card {
            position: relative;
            display: grid; 
            align-items: center;
            justify-content: center;
    
            .temp {
                font-size: 1.2em; 
                font-weight: bold;
            }
    
            p {
                text-align: center;
            }
    
            &::after {
                height: 100%; 
                width: 3px; 
                right: 0; 
                content: ''; 
                position: absolute; 
                background: $primary-col;
            }
        }
    
        :last-child {
            &::after {
                height: 0; 
            }
        }
    }
  }